<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>SignUp - Vali Admin</title>
  </head>
  <body>
   <header><div th:replace="fragments/header :: header"></div></header>
   <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
   // <aside class="app-sidebar">
    <div th:replace="fragments/left-side :: left-side"></div>
   // </aside>
    <section class="material-half-bg">
      <div class="cover"></div>
    </section>
    <section class="login-content">
      <div class="logo">
        <h1>Fly</h1>
      </div>
      <div class="signup-box">
        <form class="login-form" th:action="@{/getprofile}" th:object="${employee}" method="post">
          <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>PROFILE</h3>
            <div class="form-group">
            <!-- <label class="control-label">NAME</label> -->
            <input class="form-control" type="text" name="id" id= "id" th:field="*{id}" placeholder="ID" readonly="true">
          </div>
           <div class="form-group">
            <!-- <label class="control-label">NAME</label> -->
            <input class="form-control" type="text" name="name" id= "name" th:field="*{name}" placeholder="NAME" required="true">
          </div>
          <div class="form-group">
           <!--  <label class="control-label">EMAIL</label> -->
            <input class="form-control" type="email" name="email" id="email" th:field="*{email}" placeholder="EMAIL" required="true" autofocus>
          </div>
           <div class="form-group">
            <!-- <label class="control-label">ADDRESS</label> -->
            <input class="form-control" type="text" name="address" id= "address" th:field="*{address}" placeholder="ADDRESS" required="true">
          </div>
           <div class="form-group">
            <!-- <label class="control-label">DESIGNNATION</label> -->
            <input class="form-control" type="text" name="designation" id= "designation" th:field="*{designation}" placeholder="DESIGNNATION" required="true">
          </div>
          <div class="form-group">
          </div>
          <div class="form-group btn-container">
            <button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>Save</button>
          </div>
        </form>
        <form class="forget-form" action="index.html">
          <div class="form-group mt-3">
           <!--  <p class="semibold-text mb-0"><a href="/index" ><i class="fa fa-angle-left fa-fw"></i> Back to DashBoard</a></p> -->
          </div>
        </form>
      </div>
    </section>
    <!-- Essential javascripts for application to work-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="js/plugins/pace.min.js"></script>
    <script type="text/javascript">
      // Login Page Flipbox control
      $('.login-content [data-toggle="flip"]').click(function() {
      	$('.login-box').toggleClass('flipped');
      	return false;
      });
    </script>
  </body>
</html>